


     <div class="container">
            <div class="row col-md-6">
                <h1>Contact Us</h1>
                
                <textarea rows="6" cols="50">
                 Florida’s Natural Growers
                 A Division of Citrus World, Inc.
                 20205 US Highway 27 North
                     Lake Wales, Florida 33853
                    (863) 676-1411    

                </textarea><br><br>
                <div class="panel panel-default">
                    <div class="panel panel-heading">Contact Us</div>
                    <div class="panel panel-body">
  <form class="form-horizontal" name="userFrm" novalidate>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" name="name" ng-model="user.name" class="form-control" id="inputEmail3" placeholder="Enter your Name" required>
         
    
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <input type="email" name="email" ng-model="user.email" class="form-control" id="inputEmail3" placeholder="Enter your Email" required>
        
    </div>
  </div>
 
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <input type="password" name="password" ng-model="user.password" class="form-control" id="inputPassword3" placeholder=" Enter your Password" required ng-maxlength="10">
   
    </div>
  </div>
     
  <div class="form-group">
  
         <label for="inputPassword3" class="col-sm-2 control-label">Comments</label>
       <textarea rows="6" cols="40"></textarea>
    </div>
      <div> 
          Required Fields:
          <hr> <button style="margin-left: 65%;" class="btn btn-success">Submit</button>

  </form>
</div>
               </div>
            </div>
        </div>
         <div class="col-md-6">
            <div style= height: 60%; width: 80%;" 
             
             
         </div>
    
  