


    <div style="height: 80%; width: 100%; background-image: url('../images/fruits.jpg');">
        <h1 style="text-align: center; margin-top: 10px; color: purple;"><b><i>ABOUT US</i></b></h1><br><br>
        <h2></h2>
        
    </div>
<div class="row col-md-6">
<h4>
    <p>Lakewood is an Independent Family Juice Company bottling a diverse line of pure organic and
        premium fruit juice products.</p> 
    
       <p>Our mission to deliver top quality fruit products under the guidelines of integrity
           and with respect for our environment.</p>
        
   <p>Our juices are a delicious natural source of anti-oxidants, phytochemical nutrients, dietary fiber,
           vitamins and minerals. </p>
<p>Lakewood takes pride in producing a line of fresh-pressed 100% pure organic and
    premium juices, with no additives or artificial ingredients of any kind. </p>
    
       </h4>
</div>7
<div class="col-md-6" style="background-image: url('../images/fruit.jpg'); height:60%; width: 37%; "></div>

   